doctype html
include includes/head.pug
script(src='/assets/js/like.js')
include includes/nav.pug
  script.
    window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','UA-109410618-4');
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon', type='image/png', href='/assets/img/logo.png')
  link(rel='stylesheet', href='/assets/css/main.css')
  link(rel='stylesheet', href='/assets/css/secondary.css')
  link(rel='stylesheet', href='/assets/css/bootstrap-multiselect.css')
  link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.14.0/css/all.css', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css')
  link(rel='stylesheet', href='/assets/css/bootstrap-toaster.css')
style.
  .dropdown-item:hover{
  background:linear-gradient(90deg, rgba(92, 92, 214) 0%, rgba(229,46,100,1) 100%) !important;
  }
.bg-dark.hugething.text-center(style='box-shadow:0 5px 10px #1b1b1b;')
  br
  br
  br
  img.bot-img(src=bot.logo, height="150")
  br
  h1#fat.mb-0 Vote For #{bot.username}
  br
  br
  br
<br /><br />
<center>
.card.botcard(style='transform: translate(0px, 0px); opacity: 100;')
  .card-body.p-3.pb-2.botcard-hassplash(style='border-radius: 4px 4px 0px 0px; background: linear-gradient(rgba(48, 48, 48, 0.3) 50%, rgb(48, 48, 48) 98%)')
    img.cardimg(style='width:150px;height:150px; border-radius:100%;', alt='Bot Avatar', src=bot.logo, loading='lazy', draggable='false')
  .card-body.pt-0.pb-0
    .w-100
      .botcount.mb-2.text-damp.text-bold(data-toggle='tooltip', data-placement='left', title='', data-original-title='Votes This Month')
        span.float-left.text-white.h-100
        <center>
          | Total votes: #{bot.likes || 0}
    <br />
  .card-body.pt-0.botcard-btnholder
    a.btn.btn-sm.btn-blue#like() Vote Bot
  .card-body.pt-0.botcard-btnholder
    a.btn.btn-sm.btn-secondary(style='width:50%;', href=`/bots/${bot.botid}`) View Bot

include includes/footer.pug


style.
  .featuresec {
  height: 400px;
  display: flex;
  align-items: center;
  }
  .featuresec img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 10px 15px rgb(22, 22, 22);
  border-radius: 5px;
  margin-bottom: 10px;
  }
  .featurecon {
  width: 100%;
  }
  .hugething,
  .navbar {
  background: linear-gradient(90deg, #ff9900, #ff6600, #3333cc, #6600ff);
  background-size: 600% 600%;
  -webkit-animation: jumboani 10s ease infinite;
  -moz-animation: jumboani 10s ease infinite;
  animation: jumboani 10s ease infinite;
  }
  .dumbfuckingimage {
  height: 100%;
  }
  @-webkit-keyframes jumboani {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  @-moz-keyframes jumboani {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  @keyframes jumboani {
  0% {
  background-position: 0% 50%
  }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  @media (max-width: 991px) {
  .featuresec {
  text-align: center !important;
  height: auto;
  }
  hr {
  margin: 50px 0;
  }
  .dumbfuckingimage {
  height: auto;
  }
  }
  .display-4 {
  font-size: 30px !important;
  }
  .dank {
  background: linear-gradient(90deg, rgba(248, 72, 61, 1) 0%, rgba(228, 46, 103, 1) 100%);
  color: #fff !important;
  transition: .3s;
  }
  .dank:hover {
  background: #fff !important;
  color: #7495e6 !important;
  transition: .3s;
  }
  @keyframes hover {
  0% {
  transform: translateY(0px);
  box-shadow: 0 10px 15px rgba(22, 22, 22, 0.5);
  }
  50% {
  transform: translateY(-10px);
  box-shadow: 0 20px 25px rgba(22, 22, 22, 0.5);
  }
  100% {
  transform: translateY(0px);
  box-shadow: 0 10px 15px rgba(22, 22, 22, 0.5);
  }
  }
  .bot-img {
  border-radius: 50%;
  animation: hover 5s ease-in-out infinite;
  }
  /*Removes cursor that comes with typed.js*/
  /*Custom cursor animation*/
  @-webkit-keyframes blink {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }
  @-moz-keyframes blink {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }
  li {
  color: #fff !important;
  }
  .cont {
  border: 1px solid #2C2F33;
  border-radius: 2px;
  }
  .jumbotron h1 {
  font-weight: 700;
  color: #fff !important;
  font-size: 100px;
  }
  .sub {
  font-size: 18px;
  color: #fff !important;
  }
  .lead {
  color: #fff !important;
  }
  .smol {
  width: 200px;
  }
  #fat {
  font-weight: 700;
  }
  small {
  color: #969696;
  } 

script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js')
script(defer='', src='https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.min.js')
script(defer='', src='https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js')
script(src='/assets/js/bootstrap-multiselect.js')
script(src='/assets/js/bootstrap-toaster.js')
script(src='/assets/js/danloves.js')
script(src='/assets/toadloader.js', type='text/javascript')
script(defer='', src='/assets/js/confetti.min.js')