doctype html
include ../includes/head.pug
script(src="/assets/js/me.js")
body
  include ../includes/nav.pug
  meta(name='theme-color', content='#404040')
  style.
    .botlogo {
    max-width:100%;
    border-radius:100%;
    margin:auto 0;
    max-height:150px;
    }
    @media only screen and (max-width: 767px) {
    .botlogo{
    margin:0 auto;
    max-width: 150px;
    }
    .usertron {
    text-align:center;
    }
    }
    .usertron {
    background: linear-gradient(311deg, #1A1A1A 100%, #ffffff 100%);
    }

  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109410618-4')
  script.
    window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','UA-109410618-4');
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon', type='image/png', href='/assets/img/logo.png')
  link(rel='stylesheet', href='/assets/css/main.css')
  link(rel='stylesheet', href='/assets/css/secondary.css')
  link(rel='stylesheet', href='/assets/css/bootstrap-multiselect.css')
  link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.14.0/css/all.css', crossorigin='anonymous')
  title Profile - #{req.user.username}


.jumbotron.jumbotron-fluid.maintron.maintron-plus.mb-0
  .container
    .row
      .col-md-auto.42389432dksfm(style='display: flex;align-items: center;')
          p.text-center.mb-2
            img.botlogo(src=userProfile.displayAvatarURL() )
      .col-md.42389432dksfm(style='display: flex;align-items: center;')
        div(style='width:100%;')
          h1.maintron__title.mt-2
            | #{req.user.username}
            small.text-muted ##{req.user.discriminator}
<br />
<center>
.card.botcard(style='transform: translate(0px, 0px); opacity: 1;')
  hr.mt-1.mb-3.bg-secondary
  .card-body.pt-0.botcard-btnholder
    a.btn.btn-sm.btn-blue.btn-block(href='/logout') Logout
.card.botcard(style='transform: translate(0px, 0px); opacity: 1;')
  hr.mt-1.mb-3.bg-secondary
  .card-body.pt-0.botcard-btnholder
    a.btn.btn-sm.btn-danger.btn-block(href='/add') Add Bot

<br /><br />


.conatainer
  .alert.alert-dark.rounded-100.text-center(style='margin-bottom:0px;')
    h5.text-damp.mb-4 Bots that you own!

<br />
.conatainer
#cards
<center>
each val, i in cards
 .card.botcard(style='transform: translate(0px, 0px); opacity: 1;')
  .card-body.p-3.pb-2.botcard-hassplash(style='border-radius: 4px 4px 0px 0px; background: linear-gradient(rgba(48, 48, 48, 0.3) 50%, rgb(48, 48, 48) 98%), url("https://images-ext-1.discordapp.net/external/ZZNXF44V2pbaXGs1wMgiebscvrzkAsGg7vhlxpMnnVQ/https/cdn.wallpapersafari.com/37/44/ZxvYAN.jpg");')
    img.cardimg(style='width:150px;height:150px;', alt='Bot Avatar', src=val.logo, loading='lazy', draggable='false')
    .card-body.pt-0.pb-0
      h4.mb-0.text-center.pt-1
        | #{val.username}  
        span.certifiedbadge(data-toggle='tooltip', title='', data-original-title='Certified Bot')
          i.fas.fa-check-circle
      p.mb-2.text-center.text-muted.botdesc #{val.description}
  hr.mt-1.mb-3.bg-secondary
  .card-body.pt-0.botcard-btnholder
    .btn-group.btn-block
      a.btn.btn-sm.btn-secondary(style='width:50%;', href=`https://discord.com/oauth2/authorize?client_id=${val.botid}&scope=bot&permissions=0`) Invite Bot
  .card-body.pt-0.botcard-btnholder
    .btn-group.btn-block
      a.btn.btn-sm.btn-secondary(href=`/bots/${val.botid}/`) View Bot
  .card-body.pt-0.botcard-btnholder
      a.btn.btn-sm.btn-blue.btn-block(style='border-left:1px solid #2B2B2B; width:100%;', href=`/bots/edit/${val.botid}`) Edit Bot
  .card-body.pt-0.botcard-btnholder
      if (val.state == "deleted")
        a.btn.btn-sm.btn-blue.btn-block(href=`/bots/resubmit/${val.botid}/`) Resubmit Bot
      else
        a.btn.btn-sm.btn-blue.btn-block.delete(href="#confirm" data-id=val.botid data-name=val.username) Delete Bot

</center>
include ../includes/footer.pug